.Buttons{
    -fx-background-color: #F25C05;
    -fx-background-radius: 3px;
    -fx-border-color: Black;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
    -fx-border-style: Solid;
    -fx-font-style: italic;
    -fx-font-family: cursive;
    -fx-text-fill: White;
}